@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h4 {
  color: rgb(177, 0, 0);
  font-size: 4vw;
}

img {
  width: 100%;
}

object {
  width: 100%;
  height: calc(65vh);
}

.headshot {
  width: 50%;
}

.inline-block {
  display: inline-block;
}

.modal-dialog {
  top: 5%;
  left: 2%;
}

.room{
  font-family:"Roboto", sans-serif;
  font-size: 18px;
}

.selected {
  border: 5px solid yellow;
}

#room0 {
  position: relative;
  max-height: calc(100vh - 100px);
}

#contacts {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 5%;
}

#desc {
  position: absolute;
  top: 3%;
  left: 28%;
  width: 65%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 2vw;
}

#subHead {
  font-size: 3vw;
}